@page
@model AS_Assignment_2_222256B.Pages.Errors._4_4Model
@{
    ViewData["title"] = "Bad Request";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">400</h1>
    <p style="font-size: 50px; ">Bad request.</p>
    <p>The file you have inputted is too large. Because the requirements do not state that I have to limit file size input, Ace Job Agency can see more error 400s</p>
    <p>Please navigate back to <a asp-page="/Index"> the website</a></p>
</div>